@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir.eot');
    src: url('/node_modules/vazir-font/dist/Vazir.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir-Bold.eot');
    src: url('/node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir-Bold.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir-Black.eot');
    src: url('/node_modules/vazir-font/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir-Black.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir-Black.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir-Medium.eot');
    src: url('/node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir-Medium.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir-Medium.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir-Light.eot');
    src: url('/node_modules/vazir-font/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir-Light.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir-Light.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/node_modules/vazir-font/dist/Vazir-Thin.eot');
    src: url('/node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('/node_modules/vazir-font/dist/Vazir-Thin.woff2') format('woff2'),
         url('/node_modules/vazir-font/dist/Vazir-Thin.woff') format('woff'),
         url('/node_modules/vazir-font/dist/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
  direction: rtl;
}

body {
  font-family: Vazir, Tahoma !important;
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-container {
  overflow: overlay;
  padding: 16px;
}

table {
  border: 1px solid;
}

tr {
  min-height: 48px;
  height: 48px;
}

th {
  text-align: right;
}

th, td {
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

label {
  margin-left: 8px;
}

input[type="text"], input[type="date"] {
  margin-left: 16px;
  width: 160px;
}

.filters {
  width: calc(100% - 32px);
  margin: 16px
}

img.sort {
  width: 12px;
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
}

img.sort.asc {
  transform: rotate(180deg);
}

.filter-item {
  display: inline-flex;
  width: 320px;
  margin-top: 16px;
}

.filter-item input {
  margin-right: auto;
}

.sort-block {
  display: inline-flex;
}

.pagination-container {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: serif;
}

.page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 4px;
  background: #e8e8e8;
  border-radius: 6px;
  cursor: pointer;
}

.page.current {
  background: #ffc3c3;
  cursor: default;

}

.warning {
  width: calc(100% - 16px);
  background: #ffffde;
  border: 1px solid #ffbc00;
  margin: 16px;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}
